/*Customer Contact Center Website*/
/*CCC-Hero-Image*/
#hero-image-ccc{
    background: url('../img/header-call-center.jpg') no-repeat center center fixed;    
    display: table;
    height:60vh;    
    position:  relative;
    width: 100%;
    background-size: cover;
}

.landing-text-ccc {
    display: table-cell;
    text-align: left;
    vertical-align: bottom;
    margin: 0px;
    color: white;
    padding: 0px;
}

.landing-text-ccc h1{
    font-size: 48px;
    text-shadow: 0px 0px 4px #000;
}

.landing-text-ccc h3{
    font-size: 24px;
    text-shadow: 0px 0px 3px #000;
}

.hero-image-slogan-ccc{
    text-align: left;
}
/*CCC-Hero-Image*/

/*CCC-Description*/
.ccc-description{
    text-align: justify;
}
/*CCC-Description*/


/*CCC-BulletPoints*/
.ccc-container{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5em;
}

.ccc-container .card{
    position: relative;
    border: none;
}

.ccc-container .card .face{
    width: 300px;
    height: 300px;
    transition: 0.5s;
    
    margin-right: 5em;
    margin-left: 5em;
    
}

.ccc-container .card .face.face-one{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(300px);
}
.ccc-container .card:hover .face.face-one{
    background: #ff0057;
    transform: translateY(0);
}

.ccc-container .card .face.face-one .content{
    opacity: 0.2;
    transition: 0.5s;
}

.ccc-container .card:hover .face.face-one .content{
    opacity: 1;
}
.ccc-container .card .face.face-one .content img{
    opacity: 1;
    max-width: 130px;
}
.ccc-container .card .face.face-one .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}


.ccc-container .card .face.face-two{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}

.ccc-container .card .face.face-two .content p{
    margin: 0;
    padding: 0;
}
/*CCC-BulletPoints*/
/*Customer Contact Center Website*/