/*Customer Contact Center Website*/
body{
    margin: 0px;
    padding: 0px;
    font-family: Roboto, Arial, Helvetica;
}

/*Navigation Bar*/
navbar-nav {
    display: inline-block;
    width: 100%;
    text-align: right;
}
.navbar .navbar-nav .nav-link{
    color: #666; 
    font-size: 1.2rem;
}

.navbar .navbar-nav .nav-link:hover, .navbar-nav .nav-item .nav-link:active{
    color: #39B2EE;
    text-decoration: none;
}

.navbar-brand{
    float: left; 
    height: 70px; 
    width: 220px;
    margin-right: 10px;
    margin-left: 10px;
}
/*Navigation Bar*/

/*CCC-Hero-Image*/
#hero-image-ccc{
    background: url('../img/header-call-center.jpg') no-repeat center center fixed;    
    display: table;
    height:60vh;    
    position:  relative;
    width: 100%;
    background-size: cover;
}

.landing-text-ccc {
    display: table-cell;
    text-align: left;
    vertical-align: bottom;
    margin: 0px;
    color: white;
    padding: 0px;
}

.landing-text-ccc h1{
    font-size: 48px;
    text-shadow: 0px 0px 4px #000;
}

h2{
    margin: 10px;
    padding-bottom: 1em;
    text-align: center;
    font-family: Poppins, Arial, Helvetica;
    letter-spacing: .2em;

}

.landing-text-ccc h3{
    font-size: 24px;
    text-shadow: 0px 0px 3px #000;
}

.hero-image-slogan-ccc{
    text-align: left;
}

.ccc-description{
    font-size: 14pt;
}
/*CCC-Hero-Image*/

/*CCC-Description*/
.ccc-description{
    text-align: justify;
}
/*CCC-Description*/


/*CCC-BulletPoints*/
.ccc-container .card{
    position: relative;
    border: none;
    margin-bottom: 5em;
}

.ccc-container .card .face{
    width: 275px;
    height: 280px;
    transition: 0.5s;
    
}

.ccc-container .card .face.face-one{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(140px);
}
.ccc-container .card:hover .face.face-one{
    background: #357FB0;
    transform: translateY(0);
}

.ccc-container .card .face.face-one .content{
    opacity: 0.2;
    transition: 0.5s;
}

.ccc-container .card:hover .face.face-one .content{
    opacity: 1;
}
.ccc-container .card .face.face-one .content img{
    opacity: 1;
    max-width: 130px;
}
.ccc-container .card .face.face-one .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}


.ccc-container .card .face.face-two{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-140px);
}

.ccc-container .card:hover .face.face-two{
    transform: translateY(0px);
}

.ccc-container .card .face.face-two .content p{
    margin: 0;
    padding: 0;
}
/*CCC-BulletPoints*/

/*Footer*/
footer{
    background-color: #787878;
    color: #fff;
    padding: 0px;
    margin: 0px;
}
/*Footer*/
/*Customer Contact Center Website*/